{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dental</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}">
</head>
<body>

<div class="services">
    <h1>Services List</h1>
    <p><a href="/mainapp/dialysis">Dialysis Department</a></p>
    <p><a href="/mainapp/dialysis">Nutrition Department</a></p>
    <p><a href="/mainapp/dialysis">Physiotherapy Department</a></p>
    <p><a href="/mainapp/dialysis">Dental Department</a></p>
</div>

<div class="containers">

    <h2>Dental Services</h2>
    <img style="width:300px; height:250px;" src="{% static 'mainapp/images/teeth.jpg' %}"/>
    <div class="p">
        <p>We know you have choices when it comes to selecting dental hospitals. Many of our customers make Meridian Hospital</p>
            <p>first as their full-service dental hospital because of our consistent esthetic quality, reliable case consultation</p>
            <p>and personal technical support. We give personal care and attention to every single case, every patient, every smile,</p>
            <p>every time, so you can focus on what’s most important: your patients. When you partner with one of our local health</p>
            <p>centre, you tap into the power of the entire Meridian Network. We offer an extensive selection of proven solutions and</p>
            <p>cutting-edge technologies, customized for each individual patient by expert technicians. Our team of qualified dentists,</p>
            <p>dental technologists and oral care personnel dedicate their skill and expertise to make your smile even brighter.</p>
            <p>We offer the following Services:</p>

        <ol>
            <li>Root Canal treatment</li>
            <li>Extraction and Pain Control</li>
            <li>Periodal Care</li>
            <li>Amalgam and Composite filings</li>
            <li>Oral Pathology Services</li>
            <li>Minor oral surgeries</li>
            <li>Crowns and bridges</li>
        </ol>
    </div>
</div>
</body>
</html>