{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diagnostic</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}">
</head>

<div>

<div class="services">
    <h1>Services List</h1>
    <p><a href="/mainapp/dialysis">Dialysis Department</a></p>
    <p><a href="/mainapp/dialysis">Nutrition Department</a></p>
    <p><a href="/mainapp/dialysis">Physiotherapy Department</a></p>
    <p><a href="/mainapp/dialysis">Dental Department</a></p>
</div>

<div class="containers">
    <div class="page_content_wrap">
        <div class="content_wrap">
            <div class="content">
                <article id="post-935" class="services_single itemscope post-935 cpt_services type-cpt_services status-publish has-post-thumbnail hentry cpt_services_group-health-care">
                    <section class="services_page_header">

                    </section>

                    <section class="services_page_content entry-content"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space  vc_custom_1511533678282 height_medium" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                        <div id="sc_title_59267430" class="sc_title color_style_default sc_title_default"><h2 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_default sc_item_title_tag">Diagnostic Services</h2></div><!-- /.sc_title --><div class="vc_empty_space  vc_custom_1511533696530 height_medium" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                        <div id="sc_title_690447283" class="sc_title color_style_default sc_title_default"><h4 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_default sc_item_title_tag">Pharmacy</h4></div><!-- /.sc_title --><div class="vc_empty_space  vc_custom_1561054073167" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p>We run a 24-hour pharmacy facility that is well equipped with a variety of drugs, surgical items and vaccines. </p>
                                   <p> The unit is run by a set of trained pharmacists and pharmacy technologists who serve both the outpatient and</p>
                                   <p> inpatient units of Tenwek Hospital.</p>
                            </div>
                        </div>

                        <div class="vc_empty_space  vc_custom_1511533696530 height_medium" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                    </div>
                    </div>
                    </div>
                    </div>
                        <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left"><div class="vc_column-inner"><div class="wpb_wrapper"><div id="sc_title_1404554157" class="sc_title color_style_default sc_title_default"><h4 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_default sc_item_title_tag">Radiology Services</h4></div><!-- /.sc_title --><div class="vc_empty_space  vc_custom_1561054073167" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                            <div class="wpb_single_image wpb_content_element vc_align_left">
                                <figure class="wpb_wrapper vc_figure">

                                </figure>
                            </div>
                            <div class="vc_empty_space  vc_custom_1561054073167" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>Our medical teams rely on radiology services to diagnose, identify broken vessels and </p>
                                    <p>bones and to identify other mal formations and foreign bodies in the human body.</p>
                                    <p>The department operates 24 hours a day, 7 days a week and offers specialized services in:</p>
                                </div>
                            </div>
                            <div class="vc_empty_space  vc_custom_1561054073167" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                            <div class="vc_tta-container" data-vc-action="collapse"><div class="vc_general vc_tta vc_tta-accordion vc_tta-color-grey vc_tta-style-classic vc_tta-shape-round vc_tta-o-shape-group vc_tta-controls-align-left"><div class="vc_tta-panels-container"><div class="vc_tta-panels"><div class="vc_tta-panel" id="1498134750982-8ec1bd0b-0ef3" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1498134750982-8ec1bd0b-0ef3" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Ultra-Sonography</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4></div><div class="vc_tta-panel-body" style="height: 0px;">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>The Ultra sound unit is run by qualified sonographers who help patients get the best</p>
                                        <p>positions for ultrasound imaging. We perform the following types of ultrasound services:</p>
                                    </div>
                                </div>
                            </div></div><div class="vc_tta-panel" id="1501673685938-c4ed9451-8858" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1501673685938-c4ed9451-8858" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">X-Ray Imaging</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4></div><div class="vc_tta-panel-body" style="height: 0px;">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Using modern technology, our radiographers make use of X-Ray imaging for the following medical diagnosis:</p>
                                    </div>
                                </div>
                            </div></div><div class="vc_tta-panel vc_active" id="1501673724328-d5113eec-e4e0" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1501673724328-d5113eec-e4e0" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">CT Scan Imaging</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4></div><div class="vc_tta-panel-body" style="">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Our CT Scan technology team combines the use of X-Ray and computer technology to diagnose various </p>
                                        <p>conditions in our patients such as:</p>
                                        <ul>
                                            <li>Detection of bone and joint problems, like complex bone fractures and tumors.</li>
                                            <li>Tracking the condition of cancer, heart disease, emphysema, or liver masses</li>
                                            <li>Detection of internal injuries and bleeding such as those caused by a car accident.</li>
                                            <li>Location of tumors, blood clots, excess fluid, or infection.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div></div></div></div></div></div><div class="vc_empty_space  vc_custom_1511533696530 height_medium" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                        </div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left"><div class="vc_column-inner"><div class="wpb_wrapper"><div id="sc_title_1474301528" class="sc_title color_style_default sc_title_default"><h4 class="sc_item_title sc_title_title sc_align_left sc_item_title_style_default sc_item_title_tag">Laboratory Services</h4></div><!-- /.sc_title --><div class="vc_empty_space  vc_custom_1561054073167" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                            <div class="wpb_single_image wpb_content_element vc_align_left">
                            </div>
                            <div class="vc_empty_space  vc_custom_1561054073167" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>The Meridian Hospital Lab is equipped with well trained personnel and ultra-modern equipment</p>
                                    <p>making it easy for the medicals teams to diagnose diseases and provide treatment solutions.</p>
                                    <p>Our laboratory unit is divided into the following sections:</p>
                                </div>
                            </div>
                            <div class="vc_empty_space  vc_custom_1561054073167" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                            <div class="vc_tta-container" data-vc-action="collapse"><div class="vc_general vc_tta vc_tta-accordion vc_tta-color-grey vc_tta-style-classic vc_tta-shape-round vc_tta-o-shape-group vc_tta-controls-align-left"><div class="vc_tta-panels-container"><div class="vc_tta-panels"><div class="vc_tta-panel vc_active" id="1561054630055-af44f3ac-94cb" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1561054630055-af44f3ac-94cb" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Clinical chemistry</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4></div><div class="vc_tta-panel-body">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>This section is well equipped with state of the art automatic chemistry analyzers. The analyser </p>
                                        <p>has a broad test menu including renal function tests, liver function tests, cardiac enzymes, </p>
                                        <p>lipid profile, blood sugar and glycated hemoglobin among others.</p>
                                    </div>
                                </div>
                            </div></div><div class="vc_tta-panel" id="1561054630083-77fefc1d-505c" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1561054630083-77fefc1d-505c" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Special Chemistry</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4></div><div class="vc_tta-panel-body">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>This section is highly specialized performing mainly immunological and rare tests. The main equipment </p>
                                        <p>is an immuno analyser which is fully automated. Tests performed here include troponin, insulin, ferritin,</p>
                                        <p>Vitamin 812, folate, thyroid function tests, HIV, hepatitis 8 and C, hormonal profiles and tumour markers.</p>
                                    </div>
                                </div>
                            </div></div><div class="vc_tta-panel" id="1561054630115-1a63b77b-2ec2" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1561054630115-1a63b77b-2ec2" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Hematology and Blood Bank</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4></div><div class="vc_tta-panel-body">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>The section is responsible for blood counts and also ensuring that blood for transfusion is safe for </p>
                                        <p>patients use. It is equipped with a fully automated analyser and a backup service for coagulation studies.</p>
                                        <p>The blood bank is able to make blood products namely platelets concentrates, fresh frozen plasma for</p>
                                        <p>patients when required, using a refrigerated centrifuge. Currently the gel system is used for grouping </p>
                                        <p>and cross match. Bone marrows are preferred if requested by a Consultant Hematologist.</p>

                                    </div>
                                </div>
                            </div></div><div class="vc_tta-panel" id="1561054779325-421e8e1f-34b5" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1561054779325-421e8e1f-34b5" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Microbiology and Parasitology</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4></div><div class="vc_tta-panel-body">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>The section performs standard analysis of specimen for bacterial, parasitic and T8 infection.</p>
                                    </div>
                                </div>
                            </div></div><div class="vc_tta-panel" id="1561054839002-c337e407-0351" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1561054839002-c337e407-0351" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Histology and Cytology</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4></div><div class="vc_tta-panel-body">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>This section serves the hospital and many other small laboratories in the vicinity. Surgical </p>
                                        <p>specimen are processed and read by highly qualified histo/cytopathologist. Pap smear, F.NA.</p>
                                        <p>And non-gynecological cytology specimens like effusion, urine and Cerebral Spinal Fluid (C.S.F)</p>
                                        <p>are processed to assist in clinical diagnosis and thus proper management. The consultants are </p>
                                        <p>available for discussion with clinician if required.</p>
                                    </div>
                                </div>
                            </div></div><div class="vc_tta-panel" id="1561054864777-9325f606-b0fd" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1561054864777-9325f606-b0fd" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Microbiology</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4></div><div class="vc_tta-panel-body">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>This section is specialized for the diagnosis of Bacteriology, Parasitology and Tuberculosis,</p>
                                        <p>aerobic and anaerobic bacterial cultures, drug susceptibility testing, Ziel Nelson staining </p>
                                        <p>technique for diagnosis of TB, a wide range of rapid antigen detection test e.g. salmonella </p>
                                        <p>antigen, Pylori etc., and diphasic blood culturee</p>
                                    </div>
                                </div>
                            </div></div></div></div></div></div><div class="vc_empty_space  vc_custom_1511533696530 height_medium" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                        </div></div></div></div>
                    </section><!-- .entry-content --></article>
            </div><!-- </.content> -->
        </div><!-- /.sidebar -->
    </div><!-- </.content_wrap> -->
    </div>
</div>
</body>
</html>