
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>physiotherapy</title>
     <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}">
</head>
<body>

<div class="services">
    <h1>Services List</h1>
    <p><a href="/mainapp/dialysis">Dialysis Department</a></p>
    <p><a href="/mainapp/dialysis">Nutrition Department</a></p>
    <p><a href="/mainapp/dialysis">Physiotherapy Department</a></p>
    <p><a href="/mainapp/dialysis">Dental Department</a></p>
</div>

<div class="containers">
    <h2>Physiotherapy Services</h2>
    <img style="width:300px; height:250px;" src="{% static 'mainapp/images/physio.jpg' %}"/>


<p>Physiotherapy helps restore movement and function, maximises potential and helps prevent deterioration </p>
    <p>or complications that may occur when someone is affected by injury, illness or disability.</p>
    <p>Here at Meridian Health we offer one of the best and international standards services for you</p>

<b>Our physiotherapists do assessments, treatment and rehabilitation for:</b>
<ol>
    <li>Physiotherapy for Children</li>
    <li>Physiotherapy after Breaking a Bone</li>
    <li>Physiotherapy After a Stroke</li>
    <li>Problems after Pregnancy</li>
    <li>Physiotherapy for Bone, Joint and Muscle Problems</li>
    <li>Physiotherapy After a Problem with Your Brain or Spinal Cord</li>
    <li>Physiotherapy Whilst in Hospital</li>
</ol>
</div>
</body>
</html>